.calendar
{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-header
{
    display: grid;
    font-weight: bold;
    gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day
{
    border: 1px solid #cccccc;
    height: 40px; /* Adjust the height as needed */
    padding: 5px;
    text-align: center;
    width: 40px; /* Adjust the width as needed */
}
