label
{
    display: inline-block;
    margin-bottom: .5rem;
}

input, button, select, optgroup, textarea
{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

textarea
{
    overflow: auto;
    resize: vertical;
}

.form-control
{
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.125rem;
    color: #495057;
    display: block;
    font-size: 0.875rem;
    line-height: 1.3;
    padding: 0.625rem 0.625rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.form-control:focus
{
    background-color: #ffffff;
    border-color: #8b0000;
    box-shadow: none;
    color: #495057;
    outline: 0;
}

.mb-0, .my-0
{
    margin-bottom: 0 !important;
}

textarea
{
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.15rem !important;
}

textarea:focus
{
    border: 0 !important;
    border-bottom: 1px solid #8b0000 !important;
    color: #8b0000;
    outline: none !important;
}

.field
{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

label, input, textarea
{
    transition: all 0.2s !important;
}

textarea:placeholder-shown + label
{
    cursor: text;
    max-width: 66.66%;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, 1.5rem) scale(1);
    transform-origin: left bottom;
    white-space: nowrap;
}

textarea:not(:placeholder-shown) + label, textarea:focus + label
{
    cursor: pointer;
    transform: translate(0, 0) scale(1);
}

label
{
    font-size: 14px;
    font-weight: bold;
}

